<div class="promo">
    <span>Get 30% OFF This Christmas Holidays</span>
</div>
<!-- HEADER -->
<header class="header">
    <!-- NAVIGATION -->
    <nav class="nav container">
        <div class="navigation d-flex">
            <div class="hamburger">
                <i class="fa fa-bars" (click)="showMenu()"></i>
            </div>
            <div class="logo">
                <h2 class="logo-txt" routerLink="">Shoppe</h2>
            </div>

            <div class="menu" id="hello">
                <div class="top">
                    <span class="close" (click)="hideNav()"><i class="fa fa-times"></i></span>
                </div>
                <ul class="nav-list d-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Women</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Men</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Kids</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Beauty</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Watches</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="icons d-flex">
                <button class="btn login" routerLink='login'>Log in</button>
                <button class="btn signup" routerLink="signup">Sign up</button>
                <div>
                    <i class="fa fa-shopping-cart"></i>
                    <span class="align-center">0</span>
                </div>
                
            </div>
        </div>
    </nav>

    <!-- Hero -->
    <!-- <div class="hero">
        <div class="hero-content d-flex container">
            <div class="left">
                <span class="subtitle">GET YOUR SPRING COLLECTION</span>
                <h1 class="title">
                    Up to
                    <span class="color">90% <br />
                        Discount</span>
                    on This <br />
                    Christmas Days
                </h1>

                <h5>From 20th Dec to 31st Dec</h5>
                <a href="#" class="btn">SHOP NOW</a>
            </div>

            <div class="right">
                <img src="./img/bg.png" alt="" />
            </div>
        </div>
    </div> -->
</header>