<div class="product">
    <div class="img-cover">
        <img src="../../../assets/img/abc.webp" alt="" />
    </div>
    <div class="card-text">
        <p>Hp Pavilion i5</p>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="price">{{ disPrice  | currency: 'INR'}}  <del> {{ price | currency: 'INR' }}</del></div>
    </div>
</div>