<div class="container">
    <h2 class="login-heading">Welcome <span>Back</span></h2>
    <div class="login d-flex">
        <div class="form-group">
            <input type="text" placeholder="Email">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Password">
            <i class="fa fa-lock"></i>
        </div>
        <button type="submit" class="btn">Log in</button>
        <p class="get-help">Don't have an account? <span routerLink="/signup">Sign Up</span></p>
        <p class="or">or</p>
        <p class="get-help">Have trouble logging in? <span routerLink="assistance">Get Help</span></p>
    </div>
</div>