<div class="hero">
    <div class="hero-content d-flex container">
        <div class="left">
            <span class="subtitle">GET YOUR SPRING COLLECTION</span>
            <h1 class="title">
                Up to
                <span class="color">90% <br />
                    Discount</span>
                on This <br />
                Christmas Days
            </h1>

            <h5>From 20th Dec to 31st Dec</h5>
            <a href="#" class="btn">SHOP NOW</a>
        </div>

        <div class="right">
            <img src="../../../assets/img/banner-img.png" alt="" />
        </div>
    </div>
</div>

<section class="section services">
    <div class="service-center container">
        <div class="service">
            <span class="icon"><i class="fa fa-tag"></i></span>
            <h4>Free Shipping</h4>
            <span class="text">Capped at $39 per order</span>
        </div>

        <div class="service">
            <span class="icon"><i class="fa fa-gift"></i></span>
            <h4>Securety Payments</h4>
            <span class="text">Up to 12 months installment</span>
        </div>

        <div class="service">
            <span class="icon"><i class="fa fa-undo"></i></span>
            <h4>14-Day Returns</h4>
            <span class="text">Shop with confidence</span>
        </div>

        <div class="service">
            <span class="icon"><i class="fa fa-headphones"></i></span>
            <h4>24/7 Support</h4>
            <span class="text">Delivered to your door</span>
        </div>
    </div>
</section>

<!-- New Arrivals -->
<section class="section">
    <div class="title">
        <h1><span>New</span> Arrivals</h1>
    </div>
    <div class="product-center container">
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
        <app-product></app-product>
    </div>
</section>

<!-- Winter Wear Collection -->
<section class="section">
    <div class="title">
        <h1>Winter <span>Wear</span> Collection</h1>
    </div>
</section>


