.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
}
.d-flex {
    display: flex;
    flex-direction: column;
}
.signup {
    position: relative;
}
.signup-heading {
   text-align: center;
   margin-bottom: 10px;
}
.signup-heading span {
    color: var(--primary);
}
.signup input {
    width: 360px;
    height: 50px;
    margin-bottom: 8px;
    background-color: white;
    caret-color: var(--primary);
    border: 1px solid black;
    offset: none;
    padding-left: 4rem;
}
.signup input::placeholder {
    font-size: 1.7rem;
    position: absolute;
    margin: 15px 0;
}
input:focus {
    font-size: 1.7rem;
    font-weight: 500;
}
.signup .form-group {
    position: relative;
}
.signup .form-group i {
    position: absolute;
    position: absolute;
    left: 4%;
    top: 43%;
    transform: translateY(-50%);
    z-index: 999;
    color: var(--grey);
}
.btn {
    height: 50px;
    border: none;
    offset: none;
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}
.get-help {
    color: var(--grey);
    margin-top: 15px;
    font-weight: 400;
}
.get-help span {
    color: var(--primary);
    cursor: pointer;
    font-weight: 600;
}